.container {
    position: relative;
}

.btn {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #00008B; /* 更改按钮颜色 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #00a6ff; /* 更改按钮悬停颜色 */
}

#clapsContainer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.clap {
    position: absolute;
    font-size: 24px;
    color: #ff6347;
    opacity: 0;
    animation: riseAndFade 2s ease-in-out forwards;
}

@keyframes riseAndFade {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    25% {
        transform: translateY(-10px) scale(1.1);
        opacity: 1;
    }
    50% {
        transform: translateY(-20px) scale(1.2);
        opacity: 1;
    }
    75% {
        transform: translateY(-30px) scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: translateY(-40px) scale(0.5);
        opacity: 0;
    }
}