.container {
    position: relative;
    text-align: center;
}

.btn {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #0056b3;
}

#clapsContainer {
    position: absolute;
    top: -20px; /* 调整位置以确保在按钮上方 */
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none; /* 使+1👏不干扰按钮点击 */
}

.clap {
    position: absolute;
    font-size: 24px;
    color: #ff6347; /* 火焰色 */
    opacity: 0;
    animation: fadeInOut 2s ease-in-out forwards;
}

@keyframes fadeInOut {
    0% {
        transform: translateY(-10px) scale(1);
        opacity: 0;
    }
    25% {
        transform: translateY(0) scale(1.1);
        opacity: 1;
    }
    100% {
        transform: translateY(-10px) scale(0.5);
        opacity: 0;
    }
}